.header {
  width: 80%;
  margin: 30px auto;
  background: url('/src/assets/avul.jpg') no-repeat center/cover;
  border-radius: 50px 50px;
  position: relative;
  padding: 20px;
  overflow: hidden; /* Prevent content from overflowing */
  box-sizing: border-box;
  color: white; /* assuming your bg image is dark */
}

.header-contents {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: black;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: black;
  font-size: 1 vw;
}

ul {
  margin-top: 20px;
  padding-left: 20px;
  list-style-type: disc;
  color: #fff; /* adjust for visibility */
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1.5vw, 13px);
  border-radius: 50px;
}
@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  25% {
    transform: translateY(200px) scale(1.9) rotate(150deg);
    border: 5px solid black;
    opacity: 1;
  }
}
